<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test pssing data</h1>

    {{range .products.Products}}
    <p>{{.ProductName}}</p>
    <button onclick=clickbtn()>Click</button>
    {{end}}

    <script>
        function clickbtn(product) {
            console.log(product)
        }
    </script>
</body>
</html>